<%- include layout/head %>
    <% if(err){ %>
    <h4 style="color:red"><%= `${errmsg}! (${err.toString()})` %></h4>
    <% } %>
    <form class="" action="/students/add" method="post">
      <input type="text" name="first_name" placeholder="First Name"><br>
      <input type="text" name="last_name" placeholder="Last Name"><br>
      <input type="text" name="email" placeholder="Email"><br><br>
      <input type="submit" name="Submit" value="Submit">
    </form>
<%- include layout/foot %>
